<!DOCTYPE html>
<html class="md">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta http-equiv="Content-Security-Policy" content="default-src * 'self' 'unsafe-inline' 'unsafe-eval' data: gap:">
    <title>TMDB Client</title>
    <link rel="stylesheet" href="framework7/dist/css/framework7.min.css"/>
    <link rel="stylesheet" href="css/index.css"/>
</head>
<body class="color-theme-green">
<div id="app">
    <!-- page container (view) //-->
    <div id="main-view" class="view view-main view-init">
    </div>
    <!-- pages //-->
    <div id="itemlist" style="visibility: hidden;">
        <div class="block">
            <div class="cards-list">
                {{#each results}}
                <div class="card demo-card-header-pic">
                    <div style="background-image:url({{image_path}})"
                         class="card-header align-items-flex-end">
                    </div>
                    <div class="card-content card-content-padding">
                        <p class="date">{{title}}</p>
                        <p>{{overview}}</p>
                    </div>
                    <div class="card-footer">
                        {{stars}}
                    </div>
                </div>
                {{else}}
                <div class="card">
                    <div class="card-content card-content-padding">
                        <p>No records to display.</p>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    <div id="showmovie" style="visibility: hidden;">
        <div class="data-table data-table-init card page-content">
            <div class="card-header">
                <div class="data-table-title">{{title}}</div>
            </div>
            <div class="card-content">
                <table>
                    <tr>
                        <td class="label-cell">Votes</td>
                        <td class="numeric-cell">{{vote_count}}</td>
                    </tr>
                    <tr>
                        <td class="label-cell">Genre(s)</td>
                        <td class="item-cell">
                            {{#each genres}}
                            <p>{{name}}</p>
                            {{else}}
                            <p>Not informed</p>
                            {{/each}}
                        </td>
                    </tr>
                    <tr>
                        <td class="label-cell">Rating (Avg)</td>
                        <td class="numeric-cell">{{vote_average}}</td>
                    </tr>
                    <tr>
                        <td class="abel-cell">Popularity</td>
                        <td class="numeric-cell">{{popularity}}</td>
                    </tr>
                    <tr>
                        <td class="label-cell">Released</td>
                        <td class="numeric-cell">{{release_date}}</td>
                    </tr>
                    <tr>
                        <td class="label-cell">Budget (US $)</td>
                        <td class="numeric-cell">{{budget}}</td>
                    </tr>
                    <tr>
                        <td class="label-cell">Revenue (US $)</td>
                        <td class="numeric-cell">{{revenue}}</td>
                    </tr>
                    <tr>
                        <td class="label-cell">Runtime (min.)</td>
                        <td class="numeric-cell">{{runtime}}</td>
                    </tr>
                    <tr>
                        <td class="label-cell">Producer (Company)</td>
                        <td class="item-cell">
                            {{#each production_companies}}
                            <p>{{name}}</p>
                            {{else}}
                            <p>Not informed</p>
                            {{/each}}
                        </td>
                    </tr>
                    {{#if homepage}}
                    <tr>
                        <td class="label-cell">Home Page</td>
                        <td class="item-cell"><a class="link" href="{{homepage}}">{{homepage}}</a></td>
                    </tr>
                    {{/unless}}
                </table>
            </div>
            <div class="card-footer">
                <a class="link"></a><a class="link popup-close">Back</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="framework7/dist/js/framework7.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</body>
</html>
