<div class="page" data-name="homepage">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="title">The Movie Database</div>
            <div class="right">
                <a class="link reloadlink"><i class="f7-icons">reload</i></a>&nbsp;
                <a class="link" href="/searchpage"><i class="f7-icons">search_strong</i></a>&nbsp;

            </div>
        </div>
    </div>
    <div class="toolbar tabbar">
        <div class="toolbar-inner">
            <a href="#upcoming" class="tab-link tab-link-active">
                <span class="tabbar-label">Upcoming</span>
            </a>
            <a href="#popular" class="tab-link">
                <span class="tabbar-label">Popular</span>
            </a>
            <a href="#top_rated" class="tab-link">
                <span class="tabbar-label">Top Rated</span>
            </a>
        </div>
    </div>
    <div class="tabs-swipeable-wrap">
        <div class="tabs">
            <div class="page-content hide-bars-on-scroll tab tab-active"
                 id="upcoming">
            </div>
            <div class="page-content hide-bars-on-scroll tab" id="popular">
            </div>
            <div class="page-content hide-bars-on-scroll tab" id="top_rated">
            </div>
        </div>
    </div>
</div>