<div class="page" data-name="homepage">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">&nbsp;<a href="/homepage"><i class="f7-icons">chevron_left</i></a>&nbsp;</div>
            <div class="title">Search TMDB</div>
            <div class="subnavbar">
                <form class="searchbar">
                    <div class="searchbar-inner">
                        <div class="searchbar-input-wrap">
                            <input type="search" placeholder="Search">
                            <i class="searchbar-icon"></i>
                            <span class="input-clear-button"></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="page-content" id="searchresults">
    </div>
</div>